<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Fragments</title>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<div th:fragment="header">
    <h1 class="header"><strong>Produkty</strong></h1>
</div>
<div th:fragment="home-page">
    <div class="button-links">
            <a class="link btn btn-light" href="/">Strona główna</a>
    </div>
</div>
<div th:fragment="categories-links">
    <div class="button-links">
            <a class="link btn btn-light" href="/lista?kategoria=spozywcze">Artykuły spożywcze</a>
            <a class="link btn btn-light" href="/lista?kategoria=domowe">Artykuły gospodarstwa domowego</a>
            <a class="link btn btn-light" href="/lista?kategoria=inne">Inne</a>
    </div>
</div>
<div th:fragment="add-product">
    <a class="link btn btn-warning" href="/form">Dodaj produkt</a>
</div>
</body>
</html>